<h2 class="text-center">Choose the brand of the review you want to see!</h2>

<div class="row all_brands">
	<% @cars.pluck(:brand).uniq.each do |brand| %>
		<div class="col-sm-2 brand">
			<a href="<%= '/'+brand+'/models' %>"><img src="/assets/Brands/<%= brand+'.jpg' %>"></a><br>
		</div>		
	<% end %>
</div>
