<h2 class="text-center">Choose the model of the review you want to see!</h2>

<div class="row all_models">
	<% @cars.each do |car| %>
		<div class="col-sm-2 model">	
			<a href="/reviews/<%= car.model %>"><img src="/assets/Models/<%= car.model_photo %>"><br>
			<p class="text-center"><%= car.model %></p></a>
		</div>		
	<% end %>
	<div class="col-sm-12 back">
	<%= link_to '/', :class => 'back-search btn btn-primary btn-sm',  method: 'GET' do %> 
		Back 
	<% end %>
	</div>
</div>