/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("asfalt.jpg") !important;
}

#header-image {
	width: 100%;
}

.navbar.navbar-light.bg-faded {
	float: left;
	width: 100%;
}

.navbar-nav {
	width: 100%;
	box-sizing: border-box;
}
.nav-item {
	border: 1px solid black;
 	box-sizing: border-box;
	width: 20%;
}

#nav-link {
	text-align: center;
	font-size: 150%;
	color: #F3FC4E;
	background-color: #FF9C23;
}

#nav-link:hover {
	text-align: center;
	color: #F3FC4E;
	background-color: #FCB358;
}

.clearfix {
	clear: both;
	margin-left: 0px;
}

.container {
	background-color: white; 
	padding: 0px;
	border: 1px solid black;
	margin-bottom: 5%;
}

.container h1 {
	font-family: fantasy;
	font-size: 600%;
}

.container ul {
 	font-size: 200%;
 	list-style: none;
}

.container ul li a {
 	font-size: 50%;
}

.container a {
 	color: black;
}

div #review {
 	font-size: 20px;
 	border: 1px solid black;
 	padding: 2%;
 	margin-top: 5%;
 	margin-right: 15px;
}

div #review img {
	box-sizing: border-box;
}

div #review p {
	margin-bottom: 0px;
}

div #review-comment {
 	border: 1px solid black;
 	padding: 1%;
}

footer {
 	position: fixed;
 	bottom: 0px;
 	width: 100%;
 	background-color: gray;
 	color: #FCB358;
 	height: 5%;
}

footer p .text-center { 
 	margin: 0 auto;
}