// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review .glyphicon {
	color: #e67e22;
}

.container .review-list {
  
  img {
    max-width: 200px;
    height: auto;
  }
}

.alert.alert-dismissible.alert-warning {
  background-color: white;
  padding-right: 15px;
  margin-top: 20%;
  h2.not-found {
    color: black;
    text-align: center;
    margin: auto;
  }
  .back-search {
  margin-left: 529.8125px; 
  }
}

.pagination {
  span{
  font-size: 16px;
  }
  em {
  font-size: 16px;
  margin: 5px;
  }
  a {
    font-size: 16px;
    color: #e67e22;
    margin: 5px;
  }
}