// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review .glyphicon {
	color: #e67e22;
}

.container .review-list {
  
  img {
    max-width: 200px;
    height: auto;
  }
}

.alert.alert-dismissible.alert-warning {
  background-color: white;
  h2.not-found {
    color: black;
    text-align: center;
    margin: auto;
  }
}
