<h1>Reviews</h1>

<%= form_for(:search, url: reviews_path, html: { role: 'search', method: 'GET'}) do |f| %>  
    <%= f.text_field :keywords, {placeholder: "model"} %>
    <%= f.button "Search", class: 'btn btn-primary btn-xs' %>
<% end %>

<ul>
	<% @reviews.sort_by(&:updated_at).reverse!.each do |review| %>
		<% @review = review %> 
		<%= render "print-reviews" %>
		
	<% end %>
</ul>