

<div class="alert alert-dismissible alert-warning">
  <h2 class="not-found">Sorry!<br> No reviews have been made for this model yet</h2>

<%= link_to reviews_path, :class => 'back-search btn btn-primary btn-sm',  method: 'GET' do %> 
	Back 
<% end %>
</div>